<div class="crefopay-form">
    <div class="crefopay-form__error">

    </div>
    {% if allowed_methods.PREPAID %}
    <div data-crefopay-tab="PREPAID" class="crefopay-form__tab">
        <label><input name="paymentMethod" type="radio" data-crefopay="paymentMethod" value="PREPAID">Cash in
            advance</label><br>
    </div>
    {% endif %}
    {% if allowed_methods.BILL %}
    <div data-crefopay-tab="BILL" class="crefopay-form__tab">
        <label><input name="paymentMethod" type="radio" data-crefopay="paymentMethod" value="BILL">Bill
            payment</label><br>
    </div>
    {% endif %}
    {% if allowed_methods.DD %}
    <div data-crefopay-tab="DD" class="crefopay-form__tab">
        <label><input name="paymentMethod" type="radio" data-crefopay="paymentMethod" value="DD">Direct
            debit</label><br>
        <div class="crefopay-form__tab-content">
            <label>Account holder: <input type="text" data-crefopay="paymentInstrument.bankAccountHolder"
                                          placeholder="John Doe"></label><br>
            <label>IBAN: <input type="text" data-crefopay="paymentInstrument.iban"
                                placeholder="DE12 3456 7890 1112 1314"></label><br>
            <label>BIC: <input type="text" data-crefopay="paymentInstrument.bic" placeholder="SFRTDE20000"></label>

            <div>
                {% for allowed_intrument in allowed_intruments %}
                    {% if allowed_intrument.paymentInstrumentType == 'BANKACCOUNT' %}
                        <label><input type="radio" data-crefopay="paymentInstrument.id" value="{{ allowed_intrument.paymentInstrumentID }}">
                        {{ ":accountHolder (:iban)"|t({":accountHolder": allowed_intrument.accountHolder, ":iban": allowed_intrument.iban }) }}
                        </label>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
    {% endif %}
    {% if allowed_methods.CC %}
    <div data-crefopay-tab="CC" class="crefopay-form__tab">
        <label><input name="paymentMethod" type="radio" data-crefopay="paymentMethod" value="CC">Creditcard</label><br>
        <div class="crefopay-form__tab-content">
            <span>Accountholder: </span>
            <div data-crefopay-placeholder="paymentInstrument.accountHolder"></div>
            <span>Number: </span>
            <div data-crefopay-placeholder="paymentInstrument.number"></div>
            <span>Validity: </span>
            <div data-crefopay-placeholder="paymentInstrument.validity"></div>
            <span>CVV: </span>
            <div data-crefopay-placeholder="paymentInstrument.cvv"></div>
            {% for allowed_intrument in allowed_intruments %}
                {% if allowed_intrument.paymentInstrumentType == 'CREDITCARD' %}
                <label><input type="radio" data-crefopay="paymentInstrument.id" value="{{ allowed_intrument.paymentInstrumentID }}">{{ ":accountHoder (:number)"|t({":accountHoder": allowed_intrument.accountHolder, ":number": allowed_intrument.number }) }}</label>
                {% endif %}
            {% endfor %}

        </div>
    </div>
    {% endif %}
    {% if allowed_methods.PAYPAL %}
    <div data-crefopay-tab="PAYPAL" class="crefopay-form__tab">
        <label><input name="paymentMethod" type="radio" data-crefopay="paymentMethod" value="PAYPAL">PayPal</label><br>
    </div>
    {% endif %}
    {% if allowed_methods.SU %}
    <div data-crefopay-tab="SU" class="crefopay-form__tab">
        <label><input name="paymentMethod" type="radio" data-crefopay="paymentMethod" value="SU">Sofort</label><br>
    </div>
    {% endif %}
    {% if allowed_methods.CC3D %}
    <div data-crefopay-tab="CC3D" class="crefopay-form__tab">
        <label><input name="paymentMethod" type="radio" data-crefopay="paymentMethod" value="CC3D">Creditcard 3D-secure</label>
        <div class="crefopay-form__tab-content">
            <span>Accountholder: </span>
            <div data-crefopay-placeholder="paymentInstrument.accountHolder"></div>
            <span>Number: </span>
            <div data-crefopay-placeholder="paymentInstrument.number"></div>
            <span>Validity: </span>
            <div data-crefopay-placeholder="paymentInstrument.validity"></div>
            <span>CVV: </span>
            <div data-crefopay-placeholder="paymentInstrument.cvv"></div>
        </div>
    </div>
    {% endif %}
    {% if allowed_methods.COD %}
    <div data-crefopay-tab="COD">
        <label><input name="paymentMethod" type="radio" data-crefopay="paymentMethod" value="COD">Cash on
            delivery</label><br>
    </div>
    {% endif %}
    <div class="crefo-send" value="Senden">Senden</div>
</div>
