{{ attach_library('commerce_crefopay/crefopay') }}
<div>
    <label><input type="radio" data-crefopay="paymentMethod" value="PREPAID">Cash in advance</label><br>
</div>
<div>
    <label><input type="radio" data-crefopay="paymentMethod" value="BILL">Bill payment</label><br>
</div>
<div>
    <label><input type="radio" data-crefopay="paymentMethod" value="DD">Direct debit</label><br>
    <label>Account holder: <input type="text" data-crefopay="paymentInstrument.bankAccountHolder" placeholder="John Doe"></label><br>
    <label>IBAN: <input type="text" data-crefopay="paymentInstrument.iban" placeholder="DE12 3456 7890 1112 1314"></label><br>
    <label>BIC: <input type="text" data-crefopay="paymentInstrument.bic" placeholder="SFRTDE20000"></label><br>
    <label><input type="radio" data-crefopay="paymentInstrument.id" value="Aqc9O5SSJuQTDHC9KXFE0Q">Registered bank account (IBAN: DE12 3456 7890 1112 1314)</label>
</div>
<div>
    <label><input type="radio" data-crefopay="paymentMethod" value="CC">Creditcard</label><br>
    <span>Accountholder: </span>
    <div data-crefopay-placeholder="paymentInstrument.accountHolder"></div>
    <span>Number: </span>
    <div data-crefopay-placeholder="paymentInstrument.number"></div>
    <span>Validity: </span>
    <div data-crefopay-placeholder="paymentInstrument.validity"></div>
    <span>CVV: </span>
    <div data-crefopay-placeholder="paymentInstrument.cvv"></div>
    <label><input type="radio" data-crefopay="paymentInstrument.id" value="Aqc9O5SSJuQTDHC9KXFE0Q">Registered creditcard (Number: 12***********3456)</label>
</div>
<div>
    <label><input type="radio" data-crefopay="paymentMethod" value="PAYPAL">PayPal</label><br>
</div>
<div>
    <label><input type="radio" data-crefopay="paymentMethod" value="SU">Sofort</label><br>
</div>
<div>
    <label><input type="radio" data-crefopay="paymentMethod" value="CC3D">Creditcard 3D-secure</label><br>
    <span>Accountholder: </span>
    <div data-crefopay-placeholder="paymentInstrument.accountHolder"></div>
    <span>Number: </span>
    <div data-crefopay-placeholder="paymentInstrument.number"></div>
    <span>Validity: </span>
    <div data-crefopay-placeholder="paymentInstrument.validity"></div>
    <span>CVV: </span>
    <div data-crefopay-placeholder="paymentInstrument.cvv"></div>
</div>
<div>
    <label><input type="radio" data-crefopay="paymentMethod" value="COD">Cash on delivery</label><br>
</div>